@media (max-width: 767px) {
.taskList {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  .container {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 3px;
    
    // To-do: вынести в Button.module
    button {
      margin-right: 5px;
    }
  }
}

}
