.app.dark {
  /* Общие цвета */
  --bg-color: #0d1117; /* Цвет фона */
  --text-color: #ecf0f1; /* Цвет текста для темной темы */
  --bg-navbar: #010409; /* Цвет фона навигации */
  --border-color: #30363d;
}