.app.light {
  /* Общие цвета */
  --bg-color: #f4f4f4; /* Цвет фона */
  --text-color: #333; /* Цвет текста для светлой темы */
  --bg-navbar: #f6f8fa; /* Цвет фона навигации */
  --border-color: #d0d7de;
}