.app.light {
  /* Общие цвета */
  --bg-color: #f4f4f4; /* Цвет фона */

  /* Цвета для светлой темы */
  --primary-color: #2471a3; /* Главный цвет (например, синий) */
  --secondary-color: #64b535; /* Второстепенный цвет (например, зеленый) */
  --text-color: #333; /* Цвет текста для светлой темы */
  --theme-background: #fff; /* Цвет фона для светлой темы */
}